{
  box-sizing: border-box;
}

.flex-container-1 {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  height: 370px; 
  margin-top: 70px;
  width: 80%;
  margin-left: 10%;
}

.flex-item-3 {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.flex-item-4 {
  background-color: white;
  flex: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.flex-item-5 {
  background-color: #f1f1f1;
  height: 48%;
  margin-bottom: 2%;
}

.flex-item-6 {
  background-color: #f1f1f1;
  height: 48%;
  margin-top: 2%;
}


/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 900px) {
  .flex-container-1 {
	display: flex;
    flex-direction: column;
	width: 100%;
	margin-left: 0%;
    margin-right: 0%;
	height: 1100px; 
  }

  .flex-item-4 {
	margin-left: 15px;
    margin-right: 15px;
	flex: 14%;
  }

  .flex-item-3 {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	flex: 33%;
  }
}
